body {
    margin: 0px;
}

.a {
    font-size: 50px;
    color: darkmagenta;
}

.o {
    font-size: 50px;
}

.b {
    font-size: 50px;

}

.top-banner {
    display: flex;
    padding: 50px 50px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.middle-banner {
    display: flex;
    padding: 50px 50px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.1st-half {
    width: 40%;
}

.2nd-half {
    width: 60%;
}

p {
    font-size: 20px;
}

a {
    text-decoration: none;
    padding: 20px 30px;
    color: beige;
    background-image: linear-gradient(orange, red);
    font-weight: bold;
}

h3 {
    font-size: 30px;
}



.anik {
    width: 40%;
}

.adnan {
    width: 60%;
}

.experience {
    padding: 50px 30px;
}

.parent {
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}

.pro {
    width: 40%;
    padding-left: 50px;
    box-shadow: -10px 10px 20px gray;
    margin-left: 5%;
    margin-right: 5%;

}

.beginner {
    width: 40%;
    padding-left: 50px;
    box-shadow: -10px 10px 20px gray;
    margin-left: 5%;
    margin-right: 5%;

}

.orange {
    color: orange;
}

.xyz {
    font-size: 40px;
}

.exp {
    font-size: 35px;
}